.bold{
font-weight: bold
	
}
.textalignleft{
	text-align:left
}
.dim{
	color: #696969
}

#one {
  float:left;
}
#two { 
	float:right;
	vertical-align:middle;
  width:100px;
  overflow:hidden;
}

@media screen and (max-width: 400px) {
   #one { 
    float: none;
    margin-right:0;
    width:auto;
   
  }
}

.box-container {
  padding: 10px !important;
}


.rel-pos {
  position: relative;
  textarea {
    padding-top: 30px;
  }
  span.prefix {
      position: absolute;
      top: 8px;
      left: 29px;
    }

  span.char-count{
    position: absolute;
    right: 25px;
    bottom: 8px;
  }
  textarea.no-prefix {
    padding-top: inherit;
  }
  p>button{
    position: absolute;
    right: 8px;
    top: 8px;
  }
}

