<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>clozerr</b></a>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <form role="form" >
      <div class="form-group has-feedback">
        <input autofocus type="text" required class="form-control" placeholder="Username" ng-model="cred.username" />
        <!--<span class="fa fa-user form-control-feedback"></span>-->
      </div>
      <div class="form-group has-feedback">
        <input type="password" required class="form-control" placeholder="Password" ng-model="cred.password" />
        <!--<span class="fa fa-lock form-control-feedback"></span>-->
      </div>
      <div class="row">
        <!--<div class="col-xs-8">-->
          	<!--<div class="checkbox checkbox-success">-->
                <!--<input id="rememberCheckbox" type="checkbox" ng-model="rememberme">-->
                <!--<label for="rememberCheckbox">-->
                    <!--Remember me-->
                <!--</label>-->
            <!--</div>-->
        <!--</div>-->
        <div class="col-xs-12">
          <button class="btn btn-primary btn-block btn-flat"  ng-click="signIn(cred)">Sign In</button>
        </div><!-- /.col -->
      </div>
    </form>

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
      <a class="btn btn-block btn-social btn-google-plus btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
    </div><!-- /.social-auth-links -->

    <a >I forgot my password</a><br>
    <a  class="text-center">Register a new account</a>

  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
