<div class="row">
    <div class="col-md-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-user"></i></span>
            <div class="info-box-content">
                <span class="info-box-number">Express yourself !</span>
                <span class="info-box-text">Add details about your business</span>
            </div><!-- /.info-box-content -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Your Logo</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <img class="img-responsive" ngf-src="icon[0]" ngf-default-src="assets/img/icons/apple-touch-icon-precomposed.png" ngf-accept="'image/*'">

            </div><!-- /.box-body -->
            <div class="box-footer">
                <div class="btn btn-warning pull-left" ngf-select ng-model="icon">Change</div>
                <button class="btn btn-info pull-right" >Save</button>
            </div>
        </div>

        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Business details</h3>
            </div><!-- /.box-header -->
            <div class="box-body body-align-left ">
                <form role="form">
                    <fieldset>

                        <div class="form-group">
                            <label class=" control-label" for="businessName">Name</label>
                            <div >
                                <input ng-model="data.name" id="businessName" name="businessName" type="text" placeholder="Business name" class="form-control input-md" required="">

                            </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class=" control-label" for="category">Category</label>
                            <div class="">
                                <!--<select ng-model="data.category" id="category" name="category" class="form-control">-->
                                    <!--<option value="1">Cat1</option>-->
                                    <!--<option value="2">Cat2</option>-->
                                <!--</select>-->
                                <input ng-model="data.category" id="category" name="category" class="form-control" />
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class=" control-label" for="phone">Phone number</label>
                            <div class="">
                                <input ng-model="data.phone" id="phone" name="phone" type="text" placeholder="9874563210" class="form-control input-md" required="">
                                <span class="help-block">Just the 10 digit phone number</span>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class=" control-label" for="location">Location</label>
                            <div class="">
                                <input ng-autocomplete ng-model="data.locationString" options="location.options" details="location.details" id="location" name="location" type="text" placeholder="Type the address" class="form-control input-md" required="">

                            </div>
                        </div>

                    </fieldset>
                </form>

            </div><!-- /.box-body -->
            <div class="box-footer">
                <button ng-click="saveDetails()" ng-autodisable type="submit" class="btn btn-info pull-right" >Save</button>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">App Image</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <img class="img-responsive" ngf-src="app[0]" ngf-default-src="assets/img/logo_300.png" ngf-accept="'image/*'">


            </div><!-- /.box-body -->
            <div class="box-footer">
                <div class="btn btn-warning pull-left" ngf-select ng-model="app">Change</div>
                <button class="btn btn-info pull-right" >Save</button>
            </div>
        </div>
    </div>
</div>