
@import '../../vendor/bootstrap/less/bootstrap.less';
@import '../../vendor/angular-loading-bar/build/loading-bar.css';
@import 'font-awesome/less/font-awesome.less';
@import 'adminlte/AdminLTE.less';
@import 'awesome-bootstrap-checkbox.less';


@import 'variables.less';


@import '../app/dashboard/dashboard.less';
@import '../app/dashboard/clubmembers/clubmembers.less';
@import '../app/dashboard/loyalty/loyalty.less';
@import '../app/dashboard/campaigns/campaigns.less';
@import '../app/dashboard/promote/promote.less';
@import '../app/dashboard/rewards/rewards.less';


.nav, .pagination, .carousel, .panel-title, a, .pointer {
	cursor: pointer; 
}

body, html { 
	background-color: #f3f8fb;
	font-family: 'Comfortaa', cursive;
}