<div class="home-page" snapscroll fit-window-height snap-index="snapIndex" after-snap="afterSnap(snapIndex)">
    <div class=" container-full" id="sec00">
        <nav class="navbar navbar-default navbar-fixed-top navbar-transparent" role="banner">
            <div class="container nav-bar-container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand " ng-class="{'white': !snapIndex, 'black': snapIndex}"></a>
                </div>
                <nav class="collapse navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="btn btn-flat" ng-hide="snapIndex!=0">THE APP</a>
                        </li>
                        <li>
                            <a class="btn btn-outline" ng-hide="snapIndex!=0">SIGN IN</a>
                            <a class="btn btn-info" ng-hide="snapIndex==0">SIGN UP</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>

        <p class="lead">
            Connect with your customers<br/>
            anytime  anywhere
            <br/>
            <a ng-click="snapIndex=1" class="btn btn-flat btn-circle btn-outline btn-lg"><i class="fa fa-angle-double-down"></i> </a>
        </p>

    </div>

    <div class="col-md-12 all-center" id="sec0" >
        <div class="row all-center">
            <div class="col-md-7 col-md-offset-1">
                <h2>Powerful mobile marketing platform</h2>
                <br/>
                <p style="font-size: 1.3em;">Clozerr mobile loyalty platform makes it easy to communicate with customers and act accordingly.</p>
            </div>
            <div class="col-md-5">
                <img class="img-responsive" src="assets/img/home/nexus.png">
            </div>
        </div>
    </div>

    <div class="col-md-12 padded-content" id="sec1">
        <div class="row container-fluid">
            <div class="col-md-3">
                <ul class="nav nav-stacked" >
                    <li ng-class="{'active': childSnapIndex == 0}"><a ng-click="childSnapIndex=0">Loyalty card</a></li>
                    <li ng-class="{'active': childSnapIndex == 1}"><a ng-click="childSnapIndex=1">Beacon</a></li>
                    <li ng-class="{'active': childSnapIndex == 2}"><a ng-click="childSnapIndex=2">Auto push notifications</a></li>
                    <li ng-class="{'active': childSnapIndex == 3}"><a ng-click="childSnapIndex=3">Valuable feedbacks</a></li>
                    <li ng-class="{'active': childSnapIndex == 4}"><a ng-click="childSnapIndex=4">Useful analytics</a></li>
                </ul>
            </div>
            <div snapscroll snap-index="childSnapIndex" fit-window-height snap-animation="childSnapAnimation">
                <div>
                    <div class="col-md-5">
                        <h2>Your own loyalty program</h2>
                        <br/>
                        <p style="font-size: 1.3em;">Keep your customers coming back with exciting offers in your loyalty card.</p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="assets/img/home/ph2.png" alt=""/>
                    </div>
                </div>
                <div>
                    <div class="col-md-5">
                        <h2>All new beacon technology</h2>
                        <br/>
                        <p style="font-size: 1.3em;">Greet your customers instore and make automatic checkin.</p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="assets/img/home/beacon.png" alt=""/>
                    </div>
                </div>
                <div>
                    <div class="col-md-5">
                        <h2>Your own loyalty program</h2>
                        <br/>
                        <p style="font-size: 1.3em;">Keep your customers coming back with exciting offers in your loyalty card.</p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive" src="assets/img/home/ph2.png" alt=""/>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
