@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

html,body {
  height:100%;
}

.home-page {
  h1 {
    font-family: 'Antic Slab', serif;
    font-size: 80px;
    color: #DDCCEE;
  }

  .lead {
    color: #DDCCEE;
  }

  /* Custom container */
  .container-full {
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    background-image: url('img/home/header_bg.jpg');
    background-size: cover;
    color: #eee;
    overflow: hidden;
  }

  .container-full a {
    color: #efefef;
    text-decoration: none;
  }

  .v-center {
    margin-top: 7%;
  }


  .navbar-transparent {
    background-color: transparent;
    border: none ;
    padding: 25px;
    transition: 0.3s;
    min-height: 50px;
  }

}