@topbar-height: 80px;

.home-page {
  @font-face {
    font-family: BrandonText;
    src: url("fonts/Brandon/BrandonText-Regular.otf") format("opentype");
  }
  font-family: BrandonText !important;
  h2{
    font-family: BrandonText !important;

  }
  .all-center {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
  }
  .container-full {
    text-align: center;
    margin: 0 auto;
    min-width: 100%;
    min-height: 100%;
    background-image: url('img/home/header_bg.jpg');
    background-size: cover;
    color: #eee;
    overflow: hidden;

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

    .lead {
      font-size: 2.5em;
      color: white;
    }
  }


  .container-full a {
    color: #efefef;
    text-decoration: none;
  }


  .navbar-transparent {
    background-color: transparent;
    border: none ;
    padding: 40px;
    transition: 0.3s;
    min-height: @topbar-height;

    .container {
      min-height: @topbar-height;
      li {
        padding-top: 16px;
      }

      a {

        color: #ffffff;
        font-weight: bold;
      }
      a:hover {
        color: #75c0ff !important;
      }
      .navbar-brand {
        font-size: 2em;
        min-height: @topbar-height;
        transition: 0.3s;

        width: 200px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .navbar-brand.white{
        background-image: url('img/home/logo_white_300.png');
        transition: 1s;

      }
      .navbar-brand.black {
         background-image: url('img/home/logo_black_300.png');
        transition: 1s;
      }
      .black-text {
        color: #000 !important;
        transition: 1s;
        border: 1px solid #000 !important;
      }
    }
  }

  .padded-content {
    padding-top: @topbar-height + 100px;
  }

  ul.nav.nav-stacked {
    font-size: 1.2em;
    border-left: 1px solid #3c8dbc;
  }

}