<div class="row">
	<div class="col-md-12">
	  <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-gift"></i></span>
        <div class="info-box-content">
          <span class="info-box-number">Keep them coming back for more !</span>
          <span class="info-box-text">Create exciting rewards for your club</span>
        </div><!-- /.info-box-content -->
      </div>
	</div>
</div>

<!-- Welcome Reward form -->
<div class="box box-info ">
	<div class="box-header with-border">
	  <i class="d fa fa-gift heading-text"></i><div class="box-title heading-text">WELCOME REWARD</div>
	</div>
	<div class="box-body body-align-left">
		<form class="form-horizontal welcome-reward-form reward-form" role="form">
		<fieldset>

		<!-- Form Name -->
		<legend>Recruit new club members and give them a warm welcome</legend>

		<!-- Multiple Radios (inline) -->
		<div class="form-group">
		  <label class="col-md-3 control-label">Reward expires in</label>
		  <div class="col-md-9">
			  <div class="radio radio-inline radio-info">
				  <input type="radio" ng-model="rewards.welcome.params.expiry" name="welcomeRewardOfferExpiry" id="welcomeRewardOfferExpiry-00" value="no" checked="checked">
				  <label for="welcomeRewardOfferExpiry-00">
					  No expiry
				  </label>
			  </div>

		  	<div class="radio radio-inline radio-info">
		      	<input type="radio" ng-model="rewards.welcome.params.expiry"  name="welcomeRewardOfferExpiry" id="welcomeRewardOfferExpiry-0" value="hour">
			  	<label for="welcomeRewardOfferExpiry-0">
			      1 Hour
			    </label>
		  	</div>

		  	<div class="radio radio-inline radio-info">
		      	<input type="radio" ng-model="rewards.welcome.params.expiry"  name="welcomeRewardOfferExpiry" id="welcomeRewardOfferExpiry-1" value="day" >
			  	<label for="welcomeRewardOfferExpiry-1">
			      1 Day
			    </label>
		  	</div>

		  	<div class="radio radio-inline radio-info">
		      	<input type="radio"  ng-model="rewards.welcome.params.expiry" name="welcomeRewardOfferExpiry" id="welcomeRewardOfferExpiry-2" value="month" >
			  	<label for="welcomeRewardOfferExpiry-2">
			      1 Month
			    </label>
		  	</div>

		  	<div class="radio radio-inline radio-info">
		      	<input type="radio" ng-model="rewards.welcome.params.expiry"  name="welcomeRewardOfferExpiry" id="welcomeRewardOfferExpiry-3" value="year" >
			  	<label for="welcomeRewardOfferExpiry-3">
			      1 Year
			    </label>
		  	</div>


		  </div>
		</div>

		<!-- Textarea -->
		<div class="form-group">
		  <label class="col-md-3 control-label" for="welcomeRewardOfferText">Customers will get</label>
		  <div class="col-md-9">
		    <textarea class="form-control" ng-model="rewards.welcome.description" rows="3" id="welcomeRewardOfferText" name="welcomeRewardOfferText" placeholder="Enter your reward description here... (eg. One free coffee)"></textarea>
		  </div>
		</div>

		</fieldset>
		</form>
	</div>
	<div class="box-footer">
	    <!-- <button type="submit" class="btn btn-default">Cancel</button> -->
	    <button type="submit" class="btn btn-info pull-right" ng-click="saveReward(rewards.welcome)">Save</button>
	  </div><!-- /.box-footer -->
</div>
<!--/ Welcome Reward form -->

<!-- Limited time Reward form -->
<div class="box box-info ">
    <div class="box-header with-border">
        <i class="d fa fa-gift heading-text"></i><div class="box-title heading-text">LIMITED TIME REWARD</div>
    </div>
    <div class="box-body body-align-left">
        <form class="form-horizontal limited-time-form reward-form" role="form">
            <fieldset>

                <!-- Form Name -->
                <legend>Create rewards that lasts for a limited period of time</legend>

                <!-- Multiple Radios (inline) -->
                <div class="form-group">
                    <label class="col-md-3 control-label">Select your time window</label>
					<div class="col-md-9 ">
						<datetimepicker min-date="minDate" show-weeks="false" hour-step="1" minute-step="1" ng-model="rewards.limitedTime.params.startDateTime" show-meridian="true" date-format="dd-MMM-yyyy"  readonly-time="false"></datetimepicker>
						to <datetimepicker min-date="minDate" show-weeks="false" hour-step="1" minute-step="1" ng-model="rewards.limitedTime.params.endDateTime" show-meridian="true" date-format="dd-MMM-yyyy"  ></datetimepicker>
					</div>
				</div>
                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="limitedTimeRewardOfferText">Customers will get</label>
                    <div class="col-md-9">
                        <textarea class="form-control" ng-model="rewards.limitedTime.description" rows="3" id="limitedTimeRewardOfferText" name="limitedTimeRewardOfferText" placeholder="Enter your reward description here... (eg. One free coffee)"></textarea>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    <div class="box-footer">
        <!-- <button type="submit" class="btn btn-default">Cancel</button> -->
        <button type="submit" class="btn btn-info pull-right" ng-click="saveReward(rewards.limitedTime)" ng-autodisable>Save</button>
    </div><!-- /.box-footer -->
</div>
<!--/ Limited time Reward form -->

<!-- Limited customers Reward form -->
<div class="box box-info ">
	<div class="box-header with-border">
		<i class="d fa fa-gift heading-text"></i><div class="box-title heading-text">LIMITED CUSTOMERS REWARD</div>
	</div>
	<div class="box-body body-align-left">
		<form class="form-horizontal limited-customers-form reward-form" role="form">
			<fieldset>

				<!-- Form Name -->
				<legend>Create rewards that are available for a limited number of customers</legend>

				<!-- Multiple Radios (inline) -->
				<div class="form-group">
					<label class="col-md-3 control-label">Enter maximum number of customers</label>
					<div class="col-md-9 ">
						<input type="text" ng-model="rewards.limitedCustomer.params.maxCustomers" class="form-control" />
					</div>
				</div>
					<!-- Textarea -->
					<div class="form-group">
						<label class="col-md-3 control-label" for="limitedCustomerRewardOfferText">Customers will get</label>
						<div class="col-md-9">
							<textarea class="form-control" ng-model="rewards.limitedCustomer.description" rows="3" id="limitedCustomerRewardOfferText" name="limitedCustomerRewardOfferText" placeholder="Enter your reward description here... (eg. One free coffee)"></textarea>
						</div>
					</div>

			</fieldset>
		</form>
	</div>
	<div class="box-footer">
		<!-- <button type="submit" class="btn btn-default">Cancel</button> -->
		<button type="submit" class="btn btn-info pull-right" ng-click="saveReward(rewards.limitedCustomer)" ng-autodisable>Save</button>
	</div><!-- /.box-footer -->
</div>
<!--/ Limited customers Reward form -->

<!-- Happy Hour Reward form -->
<div class="box box-info ">
	<div class="box-header with-border">
	  <i class="d fa fa-gift heading-text"></i><div class="box-title heading-text">HAPPY HOUR REWARD</div>
	</div><!-- /.box-header -->
	<!-- form start -->
	  <div class="box-body body-align-left">
	  		<form class="form-horizontal reward-form happy-hour-reward-form">
				<fieldset>

				<!-- Form Name -->
				<legend>Give incentives to your customers to come in during typically slow hours</legend>

				<!-- Multiple Radios (inline) -->
				<div class="form-group">
				  <label class="col-md-3 control-label" >Select your slow hours</label>
				  <div class="col-md-2">
                      <select class="form-control" ng-model="rewards.happyHour.params.startHour" convert-to-number>
                          <option value="0">12 AM</option>
                          <option value="1">1 AM</option>
                          <option value="2">2 AM</option>
                          <option value="3">3 AM</option>
                          <option value="4">4 AM</option>
                          <option value="5">5 AM</option>
                          <option value="6">6 AM</option>
                          <option value="7">7 AM</option>
                          <option value="8">8 AM</option>
                          <option value="9">9 AM</option>
                          <option value="10">10 AM</option>
                          <option value="11">11 AM</option>
                          <option value="12">12 PM</option>
                          <option value="13">1 PM</option>
                          <option value="14">2 PM</option>
                          <option value="15">3 PM</option>
                          <option value="16">4 PM</option>
                          <option value="17">5 PM</option>
                          <option value="18">6 PM</option>
                          <option value="19">7 PM</option>
                          <option value="20">8 PM</option>
                          <option value="21">9 PM</option>
                          <option value="22">10 PM</option>
                          <option value="23">11 PM</option>
                      </select>
                      </div>
                    <div class="col-md-1" style="text-align: center;">
                      to
                    </div>
                    <div class="col-md-2">
                      <select class="form-control" ng-model="rewards.happyHour.params.endHour" convert-to-number>
                          <option value="0">12 AM</option>
                          <option value="1">1 AM</option>
                          <option value="2">2 AM</option>
                          <option value="3">3 AM</option>
                          <option value="4">4 AM</option>
                          <option value="5">5 AM</option>
                          <option value="6">6 AM</option>
                          <option value="7">7 AM</option>
                          <option value="8">8 AM</option>
                          <option value="9">9 AM</option>
                          <option value="10">10 AM</option>
                          <option value="11">11 AM</option>
                          <option value="12">12 PM</option>
                          <option value="13">1 PM</option>
                          <option value="14">2 PM</option>
                          <option value="15">3 PM</option>
                          <option value="16">4 PM</option>
                          <option value="17">5 PM</option>
                          <option value="18">6 PM</option>
                          <option value="19">7 PM</option>
                          <option value="20">8 PM</option>
                          <option value="21">9 PM</option>
                          <option value="22">10 PM</option>
                          <option value="23">11 PM</option>
                      </select>
				  </div>
				</div>

				<!-- Multiple Radios (inline) -->
				<div class="form-group">
				  <label class="col-md-3 control-label">Select your slow days</label>
				  <div class="col-md-9">
                      <div class="btn-group">
                          <label class="btn btn-default btn-circle" ng-model="days['0']" btn-checkbox>M</label>
                          <label class="btn btn-default btn-circle" ng-model="days['1']" btn-checkbox>T</label>
                          <label class="btn btn-default btn-circle" ng-model="days['2']" btn-checkbox>W</label>
                          <label class="btn btn-default btn-circle" ng-model="days['3']" btn-checkbox>T</label>
                          <label class="btn btn-default btn-circle" ng-model="days['4']" btn-checkbox>F</label>
                          <label class="btn btn-default btn-circle" ng-model="days['5']" btn-checkbox>S</label>
                          <label class="btn btn-default btn-circle" ng-model="days['6']" btn-checkbox>S</label>
                      </div>
				  </div>
				</div>

				<!-- Textarea -->
				<div class="form-group">
				  <label class="col-md-3 control-label" for="happyHourRewardOfferText">Customers will get</label>
				  <div class="col-md-9">
				    <textarea ng-model="rewards.happyHour.description" class="form-control" rows="3" id="happyHourRewardOfferText" name="happyHourRewardOfferText" placeholder="Enter your reward description here... (eg. One free coffee)"></textarea>
				  </div>
				</div>

				</fieldset>
				</form>

	  </div><!-- /.box-body -->
	  <div class="box-footer">
	    <!-- <button type="submit" class="btn btn-default">Cancel</button> -->
	    <button type="submit" class="btn btn-info pull-right" ng-click="saveReward(rewards.happyHour)" ng-autodisable>Save</button>
	  </div><!-- /.box-footer -->
</div>
<!--/ Happy Hour Reward form -->


<!-- Facebook checkin Reward form -->
<div class="box box-info ">
	<div class="box-header with-border">
	  <i class="d fa fa-gift heading-text"></i><div class="box-title heading-text">FACEBOOK CHECK IN REWARD</div>
	</div>
	<div class="box-body body-align-left">
		<form class="form-horizontal facebook-checkin-reward-form reward-form">
		<fieldset>

		<!-- Form Name -->
		<legend>Encourage customers to check in with Facebook and maximize your social media exposure.</legend>

		<!-- Multiple Radios (inline) -->
		<div class="form-group">
		  <label class="col-md-3 control-label">Reward expires in</label>
		  <div class="col-md-9">

			  <div class="radio radio-inline radio-info">
				  <input type="radio" name="facebookRewardOfferExpiry" id="facebookRewardOfferExpiry-00" value="no" checked="checked">
				  <label for="facebookRewardOfferExpiry-00">
					  No expiry
				  </label>
			  </div>

		  	<div class="radio radio-inline radio-info">
		      	<input type="radio" name="facebookRewardOfferExpiry" id="facebookRewardOfferExpiry-0" value="hour" >
			  	<label for="facebookRewardOfferExpiry-0">
			      1 Hour
			    </label>
		  	</div>

		  	<div class="radio radio-inline radio-info">
		      	<input type="radio" name="facebookRewardOfferExpiry" id="facebookRewardOfferExpiry-1" value="day" >
			  	<label for="facebookRewardOfferExpiry-1">
			      1 Day
			    </label>
		  	</div>

		  	<div class="radio radio-inline radio-info">
		      	<input type="radio" name="facebookRewardOfferExpiry" id="facebookRewardOfferExpiry-2" value="month">
			  	<label for="facebookRewardOfferExpiry-2">
			      1 Month
			    </label>
		  	</div>

		  	<div class="radio radio-inline radio-info">
		      	<input type="radio" name="facebookRewardOfferExpiry" id="facebookRewardOfferExpiry-3" value="year" >
			  	<label for="facebookRewardOfferExpiry-3">
			      1 Year
			    </label>
		  	</div>


		  </div>
		</div>

		<!-- Textarea -->
		<div class="form-group">
		  <label class="col-md-3 control-label" for="facebookRewardOfferText">Customers will get</label>
		  <div class="col-md-9">
		    <textarea class="form-control" rows="3" id="facebookRewardOfferText" name="facebookRewardOfferText" placeholder="Enter your reward description here... (eg. One free coffee)"></textarea>
		  </div>
		</div>

		</fieldset>
		</form>
	</div><!-- /.box-body -->
	  <div class="box-footer">
	    <!-- <button type="submit" class="btn btn-default">Cancel</button> -->
	    <button type="submit" class="btn btn-info pull-right">Save</button>
	  </div><!-- /.box-footer -->
    <div class="overlay">
        <i class="fa fa-bolt"></i>
    </div>
</div>
<!--/ Facebook checkin Reward form -->


<!-- Facebook referral Reward form -->
<div class="box box-info ">
	<div class="box-header with-border">
	  <i class="d fa fa-gift heading-text"></i><div class="box-title heading-text">FACEBOOK REFERRAL REWARD</div>
	</div>
	<div class="box-body body-align-left">
		<form class="form-horizontal facebook-referral-reward-form reward-form">
		<fieldset>

		<!-- Form Name -->
		<legend>Incentivize your customers to invite their friends to your business</legend>

		<!-- Multiple Radios (inline) -->
		<div class="form-group">
		  <label class="col-md-3 control-label" >Reward expires in</label>
		  <div class="col-md-9">
			  <div class="radio radio-inline radio-info">
				  <input type="radio" name="facebookReferralOfferExpiry" id="facebookReferralOfferExpiry-00" value="no" checked="checked">
				  <label for="facebookReferralOfferExpiry-00">
					  No expiry
				  </label>
			  </div>

		  	<div class="radio radio-inline radio-info">
		      	<input type="radio" name="facebookReferralOfferExpiry" id="facebookReferralOfferExpiry-0" value="hour">
			  	<label for="facebookReferralOfferExpiry-0">
			      1 Hour
			    </label>
		  	</div>

		  	<div class="radio radio-inline radio-info">
		      	<input type="radio" name="facebookReferralOfferExpiry" id="facebookReferralOfferExpiry-1" value="day" >
			  	<label for="facebookReferralOfferExpiry-1">
			      1 Day
			    </label>
		  	</div>

		  	<div class="radio radio-inline radio-info">
		      	<input type="radio" name="facebookReferralOfferExpiry" id="facebookReferralOfferExpiry-2" value="month" >
			  	<label for="facebookReferralOfferExpiry-2">
			      1 Month
			    </label>
		  	</div>

		  	<div class="radio radio-inline radio-info">
		      	<input type="radio" name="facebookReferralOfferExpiry" id="facebookReferralOfferExpiry-3" value="year" >
			  	<label for="facebookReferralOfferExpiry-3">
			      1 Year
			    </label>
		  	</div>


		  </div>
		</div>

		<!-- Textarea -->
		<div class="form-group">
		  <label class="col-md-3 control-label" for="facebookReferralOfferText">Customers will get</label>
		  <div class="col-md-9">
		    <textarea class="form-control" rows="3" id="facebookReferralOfferText" name="facebookReferralOfferText" placeholder="Enter your reward description here... (eg. One free coffee)"></textarea>
		  </div>
		</div>

		</fieldset>
		</form>
	</div><!-- /.box-body -->
	  <div class="box-footer">
	    <!-- <button type="submit" class="btn btn-default">Cancel</button> -->
	    <button type="submit" class="btn btn-info pull-right">Save</button>
	  </div><!-- /.box-footer -->
    <div class="overlay">
        <i class="fa fa-bolt"></i>
    </div>
</div>
<!--/ Facebook referral Reward form -->

<!-- Lucky check-in Reward form -->
<div class="box box-info ">
	<div class="box-header with-border">
	  <i class="d fa fa-gift heading-text"></i><div class="box-title heading-text">LUCKY CHECK IN REWARD</div>
	</div>
	<div class="box-body body-align-left">
		<form class="form-horizontal facebook-referral-reward-form reward-form">
		<fieldset>

		<!-- Form Name -->
		<legend>Incentivize your customers to invite their friends to your business</legend>

				<!-- Multiple Radios (inline) -->
		<div class="form-group">
		  <label class="col-md-3 control-label">Surprise every</label>
		  <div class="col-md-9">


		    <div class="radio radio-inline radio-info">
		      	<input type="radio" name="luckyCheckinOfferDates" id="luckyCheckinOfferDates-0" value="5th" checked="checked">
			  	<label for="luckyCheckinOfferDates-0">
			      5th
			    </label>
		  	</div>

		  	<div class="radio radio-inline radio-info">
		      	<input type="radio" name="luckyCheckinOfferDates" id="luckyCheckinOfferDates-1" value="10th" >
			  	<label for="luckyCheckinOfferDates-1">
			      10th
			    </label>
		  	</div>

		  	<div class="radio radio-inline radio-info">
		      	<input type="radio" name="luckyCheckinOfferDates" id="luckyCheckinOfferDates-2" value="20th">
			  	<label for="luckyCheckinOfferDates-2">
			      20th
			    </label>
		  	</div>


		  </div>
		</div>

		<!-- Multiple Radios (inline) -->
		<div class="form-group">
		  <label class="col-md-3 control-label" >Reward expires in</label>
		  <div class="col-md-9">
			  <div class="radio radio-inline radio-info">
				  <input type="radio" name="luckyCheckinOfferExpiry" id="luckyCheckinOfferExpiry-00" value="no" checked="checked">
				  <label for="luckyCheckinOfferExpiry-00">
					  No expiry
				  </label>
			  </div>

		  	<div class="radio radio-inline radio-info">
		      	<input type="radio" name="luckyCheckinOfferExpiry" id="luckyCheckinOfferExpiry-0" value="hour">
			  	<label for="luckyCheckinOfferExpiry-0">
			      1 Hour
			    </label>
		  	</div>

		  	<div class="radio radio-inline radio-info">
		      	<input type="radio" name="luckyCheckinOfferExpiry" id="luckyCheckinOfferExpiry-1" value="day" >
			  	<label for="luckyCheckinOfferExpiry-1">
			      1 Day
			    </label>
		  	</div>

		  	<div class="radio radio-inline radio-info">
		      	<input type="radio" name="luckyCheckinOfferExpiry" id="luckyCheckinOfferExpiry-2" value="month">
			  	<label for="luckyCheckinOfferExpiry-2">
			      1 Month
			    </label>
		  	</div>

		  	<div class="radio radio-inline radio-info">
		      	<input type="radio" name="luckyCheckinOfferExpiry" id="luckyCheckinOfferExpiry-3" value="year" >
			  	<label for="luckyCheckinOfferExpiry-3">
			      1 Year
			    </label>
		  	</div>

		  </div>
		</div>

		<!-- Textarea -->
		<div class="form-group">
		  <label class="col-md-3 control-label" for="luckyCheckinOfferText">Customers will get</label>
		  <div class="col-md-9">
		    <textarea class="form-control" rows="3" id="luckyCheckinOfferText" name="luckyCheckinOfferText" placeholder="Enter your reward description here... (eg. One free coffee)"></textarea>
		  </div>
		</div>

		</fieldset>
		</form>
	</div><!-- /.box-body -->
	  <div class="box-footer">
	    <!-- <button type="submit" class="btn btn-default">Cancel</button> -->
	    <button type="submit" class="btn btn-info pull-right">Save</button>
	  </div><!-- /.box-footer -->
    <div class="overlay">
        <i class="fa fa-bolt"></i>
    </div>
</div>
<!--/ Lucky check-in Reward form -->